body {
    background-color: rgb(0, 0, 0);
    color: rgb(0,0,0);
    font-family: "Blippo", fantasy;
    text-align: center;
}

#content {
    display: block;
    margin-left: 50%;
    margin-right: 50%;
}

header {
font-family: "Blippo", fantasy;
}

footer {
	font-family: "Blippo", fantasy;
	font-style: italic;
	font-size: 90%;
}
